<!DOCTYPE html>
{% extends 'base_cart.html' %}
{% load static %}


{% block title %} lariParis {% endblock title %}
{% block content %}

<!-- Hero Start -->
<section class="bg-half-80 d-table bg-gradient w-100">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold mb-0 page-heading text-white title-dark"> <i class="uil uil-shopping-bag h1 mb-0"></i> Panier <i class="uil uil-shopping-bag h1 mb-0"></i></a></h5>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="position-middle-bottom">
            <nav aria-label="breadcrumb" class="d-block">
                <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">LariParis</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'catalogue' %}">Boutique</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> <i data-feather="shopping-cart" class="icons"></i> </li>
                </ul>
            </nav>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section">
    <div class="container">
        <form action="{% url 'process_cart' %}" method="POST">
            {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                        <thead>
                            <tr>
                                <th class="border-bottom fw-medium py-3" style="min-width:20px "></th>
                                <th class="border-bottom fw-medium text-start py-3" style="min-width: 300px;">Vos produits</th>
                                <th class="border-bottom fw-medium text-center py-3" style="min-width: 160px;">Prix</th>
                                <th class="border-bottom fw-medium text-center py-3" style="min-width: 160px;">Quantité</th>
                                <th class="border-bottom fw-medium text-end py-3 pe-4" style="min-width: 160px;">Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for article in article_list %}
                            <tr class="shop-list">
                                <td class="h6 text-center"><a href="{% url 'cart_delete_an_article_from_cart' article.id %}" class="text-danger"><i class="uil uil-times"></i></a></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="{% url 'product_detail' article.product.id %}"><img src="{{article.product.image1.url }}" class="img-fluid avatar avatar-small rounded shadow" style="height:auto;" alt=""></a>
                                        <a href="{% url 'product_detail' article.product.id %}" class="text-dark product-name h6 mb-0 ms-3">{{article.product.name| upper }}</a>
                                    </div>
                                </td>
                                <td id="product_price"class="text-center"> {{article.product.price}} €</td>
                                <td class="text-center qty-icons">
                                    <button class="btn btn-pills btn-icon btn-soft-dark minus" data-action="decrement">-</button>
                                    <input min="0" name="quantity_{{ forloop.counter }}" value="{{ article.quantity }}" type="number" class="btn btn-pills btn-icon btn-soft-dark qty-btn quantity">
                                    <button class="btn btn-pills btn-icon btn-soft-dark plus" data-action="increment">+</button>
                                </td>
                                <td id="article_price_{{ forloop.counter }}" class="text-end fw-medium pe-4">{{article.price}} €</td>
                            </tr>
                            {% endfor%}
                            
                        </tbody>
                    </table>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-8 col-md-6 mt-4 pt-2">
                <a href="{% url 'catalogue'%}" class="btn btn-soft-primary">Continuer Achat</a>
                <a href="{% url 'shop_cart_delete'%}" class="btn btn-soft-primary">Supprimer Panier</a>

                <button type="submit" name="action" value="update-cart" class="btn btn-soft-dark ms-2">Rafraîchir Panier</button>
            </div>
            <div class="col-lg-4 col-md-6 ms-auto mt-4 pt-2">
                <div class="table-responsive bg-white rounded shadow">
                    <table class="table table-center table-padding mb-0">
                        <tbody>
                            <tr>
                                <td class="h6 ps-4 py-3">Sous-Total</td>
                                <td id="sous_total_price" class="text-end fw-medium pe-4">{{cart.total_price}} €</td>
                            </tr>
                            <tr>
                                <td class="h6 ps-4 py-3">Taxes</td>
                                <td class="text-end fw-medium pe-4"> 0 €</td>
                            </tr>
                            <tr class="bg-light">
                                <td class="h6 fw-semibold ps-4 py-3">Total</td>
                                <td id="total_price" class="text-end fw-semibold pe-4">{{cart.total_price}} €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-4 pt-2 text-end">
                    <button type="submit" name="action" value="update-validate-cart" class="btn btn-primary ms-2">Valider la commande</button>
                    
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </form>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

{% endblock content %}

