<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="container mt-100 mt-60 pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section-title mb-5 pb-2 text-center">
                <h4 class="title mb-3">Connexion</h4>
                <p class="text-muted para-desc mx-auto mb-0">Nous sommes ravis de vous accueillir !</p>
            </div>
            <div class="custom-form">
                <form action="" method="POST" name="myForm" id="myForm" >
                    {% csrf_token %}
                    <p id="error-msg" class="mb-0"></p>
                    <div id="simple-msg"></div>
                    <div class="row justify-content-center">

                        <div class="col-md-7">
                            <div class="mb-3">
                                <label class="form-label">Nom d'Utilisateur <span class="text-danger">*</span></label>
                                    <input name="username" id="username" type="text" class="form-control" placeholder="Votre Nom d'Utilisateur :">
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="mb-3">
                                <label class="form-label">Votre Email <span class="text-danger">*</span></label>
                                <input name="email" id="email" type="email" class="form-control" placeholder="Email :">
                            </div>
                        </div>

                        <div class="col-md-7 ">
                            <div class="mb-3">
                                <label class="form-label">Mot de Passe <span class="text-danger">*</span></label>
                                    <input name="password" id="password" type="password" class="form-control" placeholder="password :">
                            </div>
                        </div><!--end col-->

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-7 pt-5 mb-5">
                            <div class="d-grid">
                                <button type="submit" id="submit" name="send" class="btn btn-primary">Connexion</button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div><!--end custom-form-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
{% endblock content%}